@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", sans-serif !important;
}

.sideview{
  position:fixed;
  right:0;
  top:0;
  width:60%;
  height:100%;
  overflow-y:scroll;
  z-index:4000343005;
  background-color:#fff;
  padding:50 !important;
}

.sideview2{
  position:fixed;
  right:0;
  top:0;
  width:60%;
  height:100%;
  overflow-y:scroll;
  z-index:4000343005;
  background-color:#fff;
  padding:50 !important;
}

.content{
  margin-left: -70px;
}

.viewdetail{
  margin-top: 10px !important;
  width: 100%;
  margin-top: 45px !important;
  padding:4px !important;
  width:40% !important;
}



.profilecontainer {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top:0px;
  z-index: 2;
}

.label 
{
  /* font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif; */
}
#contact select,
#contact input[type="number"],
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  border-radius: 4px;
  /* font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif; */
}

#contact {
  background: #fff;
  padding: 25px;
  margin: 7px;

  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact select,
#contact input[type="number"],
#contact input[type="date"],
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #eee;
  /* background: #f1f7f9; */
  margin: 0 0 10px;
  padding: 10px;
}



#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #eee;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.connect {
  cursor: pointer;
  background-color: #003679;
  color: #fff;
  margin: 0 0 5px;
  padding: 6px;
  font-size: 15px;
  width: 100px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #ffbb38;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}


#contact button[type="submit"]:hover {
  background: #003679;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #eee !important;
}

select option {
  color: #777777 !important;
}

::-webkit-input-placeholder {
  color: #777777 !important;
}

:-moz-placeholder {
  color: #777777;
}

::-moz-placeholder {
  color: #777777;
}

:-ms-input-placeholder {
  color: #777777 !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .profilecontainer {
    width: 98%;
  }
  .sideview{
    position:fixed;
    width:100% !important;
  }
  .sideview2{
    position:fixed;
    width:100% !important;
  }
  #contact {
    padding: 2px;
  }
  .content{
    margin-left: 0px;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profilecontainer {
    width: 98%;
  }
  .sideview{
    position:fixed;
    width:100% !important;
  }

  .sideview2{
    position:fixed;
    width:100% !important;
  }
  #contact {
    padding: 2px;
  }
  .content{
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .profilecontainer {
    width: 98%;
  }
  .sideview{
    position:fixed;
    width:100% !important;
  }
  .sideview2{
    position:fixed;
    width:100% !important;
  }
  #contact {
    padding: 2px;
  }
  .viewdetail{
    margin-top: 10px !important;
    width: 100%;
    padding:4px !important;
    width:40% !important;
  }
  .content{
    margin-left: -20px;
  }
}